[Desktop Entry]
Version=1.0
Name=ECoin
Comment=Connect to the ECoin P2P Network
Comment[de]=Verbinde mit dem ECoin peer-to-peer Netzwerk
Comment[fr]=ECoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=ECoin, eşten eşe kriptografik sanal para birimi
Exec=bitcoin-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/ecoin;
Categories=Office;Finance;
StartupWMClass=Bitcoin-qt
